.header-underline{
    width: 100px;
    color: #f11;
    height:2px
}
.note{
    color: #64DD17;
    font-size: 27px;
    font-weight: 600;

}
.violet{
    color: #7313D4;
    font-size: 27px;
    font-weight: 600;

}
